[data-v-0e87a271] .my-table .p-datatable-thead>tr>th{background-color:#bcaaa4;color:#fff;font-size:14px;text-align:center;font-family:monaco,Consolas}.clickable-cell[data-v-0e87a271]{cursor:pointer;text-decoration:underline}
