.custom-input[data-v-26586561]{border:none;outline:none;background:transparent;padding:2px}.custom-line[data-v-26586561]{border:.5px solid;background:#f1f3f4;padding:2px}.summary-row[data-v-26586561]{background-color:#f4f4f4}
