.custom-input[data-v-eb24252a]{border:none;outline:none;background:transparent;padding:2px}.custom-line[data-v-eb24252a]{border:.5px solid;background:#f1f3f4;padding:2px}.summary-row[data-v-eb24252a]{background-color:#f4f4f4}
