.custom-table {
  border: 1px solid #ccc;
}

.custom-table th{
  background-color: #BCAAA4 !important; /* 원하는 색상 */
  color: white;
  text-align: center !important;
}


.custom-table td {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.custom-header {
  background-color: #BCAAA4 !important; /* 원하는 색상 */
  color: white;
  text-align: center !important;
}
.custom-th td {
  padding-top: 1px;
  padding-bottom: 1px;

}

.app-alert {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* 필요시 */
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-breadcrumbs {
  height: 40px;
}
.card-height{
  height: 60px;
}
.custom-row {
  height: 30px !important;
  text-align: center;
}
.excel-btn {
  background-color: #1D6F42;
  color: white;
  width: 50px;
}
