.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    //justify-content: space-between;   202251204
    padding: 4rem 1rem 0 0rem;
    transition: margin-left var(--layout-section-transition-duration);
    //background-color: white;
}

.layout-main {
    flex: 1 1 auto;
    padding-bottom: 0;
    //padding-bottom: 2rem;
}
